name: Self
on:
  pull_request:
    types: [opened, edited]
  issues:
    types: [opened, edited]

jobs:
  Self:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        name: Local action
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
